Bulls And Cows/Bulls And Cows/Bulls And Cows/bin
Bulls And Cows/Bulls And Cows/Bulls And Cows/obj
Bulls And Cows/Bulls And Cows/Bulls And Cows/Properties
Bulls And Cows/Bulls And Cows/Bulls And Cows/Bulls And Cows.csproj.user
Bulls And Cows/Bulls And Cows/Bulls And Cows/Bulls And Cows.csproj
Bulls And Cows/Bulls And Cows/Bulls And Cows.suo
Bulls And Cows/Bulls And Cows/Bulls And Cows/App.config
Bulls And Cows/Bulls And Cows/Bulls And Cows.sln
Bulls And Cows/Bulls And Cows/Bulls And Cows/.idea
Bulls And Cows/Client/WindowsFormsApplication2.sln
Bulls And Cows/Client/WindowsFormsApplication2/bin
Bulls And Cows/Client/WindowsFormsApplication2/obj
Bulls And Cows/Client/WindowsFormsApplication2/Properties
Bulls And Cows/Client/WindowsFormsApplication2/Resources
Bulls And Cows/Client/WindowsFormsApplication2/WindowsFormsApplication2.csproj
Bulls And Cows/Client/WindowsFormsApplication2.suo
Bulls And Cows/Client/WindowsFormsApplication2/Form1.resx
Bulls And Cows/Client/.idea
Bulls And Cows/Server/Server/bin
Bulls And Cows/Server/Server/obj
Bulls And Cows/Server/Server/Properties
Bulls And Cows/Server/Server/Service References
Bulls And Cows/Server/Server/Server.csproj
Bulls And Cows/Server/Server.suo
Bulls And Cows/Server/Server.sln
Bulls And Cows/Server/.idea
Bulls And Cows/WindowsFormsApplication2-ίπλϋκ.lnk
Bulls And Cows/Server-ίπλϋκ.lnk